/* Set colors */
:root {
    /* Main Theme Colors */
    --top-border-color: #424242;
    --main-bg-color: #fff;
    --site-title-color: #424242;
    --menu-text-color: #111;

    /* Link Colors */
    --link-color: #2a7ae2;
    --link-visited-color: #1756a9;
    --link-hover-color: #111;

    /* Code Sections */
    --code-bg-color: #eef;
    --code-border-color: #e8e8e8;
}

/* Reset elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }


/* Links */
a { color: var(--link-color); text-decoration: none; }
a:visited { color: var(--link-visited-color); }
a:hover { color: var(--link-hover-color); text-decoration: underline; }


/** Code formatting */
pre, code { font-size: 15px; border: 1px solid var(--code-bg-color); border-radius: 3px; background-color: var(--code-bg-color); }

body {
    display: grid;
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5vw auto 10vw;
    grid-gap: 1em;
    border-top: 5px solid var(--top-border-color);
    background-color: var(--main-bg-color); 
}

header {
    grid-column: 3 / span 3;
    height: 5vw;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}
  
footer {
  grid-column: 3 / span 8;
  height: 10vw;
}

h1 {
    color: var(--site-title-color);
    font-size: 1.5em;
    padding: 1em 0;
}

main {
    grid-column: 3 / span 6;
}

main p {
    margin-bottom: 15px;
}

#menu-toggle {display: none;}
  
.label-toggle {display: none;}

nav {
    grid-column: 7 / span 5;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction:row;
}

nav ul {
    list-style-type: none;
}

nav li  {
    color: var(--menu-text-color);
    display: inline-block;
}

nav li:not(:last-child) { margin-right: 20px; }

nav li a {
    text-decoration: none;
}

  
aside {
    grid-column: span 2;
}

time {
    font-size: .8em;
}

img { max-width: 100%; vertical-align: middle; }

footer {
    display: grid;
    grid-gap: 0;
}

footer logo {
  grid-column: 1 / span 1;
 
}

footer social {
    grid-column: 2 / span 2;
}

footer social ul {
    font-size: 15px;
    list-style: none; 
    margin-left: 0;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

footer blurb {
    grid-column: 4 / span 2;
}


@media (max-width: 700px) {
    body {
        grid-template-rows: 10vw 10vw auto 10vw;
    }

    header,
    main,
    nav,
    footer,
    aside {
      grid-column: 2 / span 10;
    }
    
  }
